@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
/* @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;600;700&family=Secular+One&display=swap');
@layer base {
  html {
    font-family: 'Palanquin', sans-serif;
  }
}
::-moz-selection { /* Code for Firefox */
  background: #f87171;
  color:#fff;
}
::selection {
  background: #f87171;
  color:#fff;
}
.font-instagram{
  font-family: "Bauhaus 93";
  font-weight: 300;
}
/* width */
.menu-left::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}